USE [master]
GO
/****** Object:  Database [db_TransporteMaritimo]    Script Date: 02/02/2026 22:00:22 ******/
CREATE DATABASE [db_TransporteMaritimo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_TransporteMaritimo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_TransporteMaritimo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_TransporteMaritimo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_TransporteMaritimo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_TransporteMaritimo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_TransporteMaritimo]
GO
/****** Object:  Table [dbo].[Porto]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porto](
	[IdPorto] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Localizacao] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPorto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgenteReceptor]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgenteReceptor](
	[IdAgente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[IdPorto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carga]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carga](
	[IdCarga] [int] IDENTITY(1,1) NOT NULL,
	[PesoKg] [decimal](10, 2) NOT NULL,
	[DataMaxDesembarque] [date] NOT NULL,
	[TipoCarga] [nvarchar](20) NOT NULL,
	[DataValidade] [date] NULL,
	[TemperaturaMax] [decimal](5, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[IdPortoDestino] [int] NOT NULL,
	[IdAgenteReceptor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Cargas_Destino_Agente]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Cargas_Destino_Agente] AS
SELECT 
    c.IdCarga,
    c.PesoKg,
    c.DataMaxDesembarque,
    c.TipoCarga,
    c.Status,
    p.Nome AS PortoDestino,
    a.Nome AS AgenteReceptor
FROM 
    Carga c
    INNER JOIN Porto p ON c.IdPortoDestino = p.IdPorto
    INNER JOIN AgenteReceptor a ON c.IdAgenteReceptor = a.IdAgente;
GO
/****** Object:  View [dbo].[vw_Total_Cargas_Por_Tipo]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Total_Cargas_Por_Tipo] AS
SELECT 
    TipoCarga,
    COUNT(*) AS QuantidadeCargas,
    SUM(PesoKg) AS PesoTotal
FROM 
    Carga
GROUP BY 
    TipoCarga;
GO
/****** Object:  Table [dbo].[Navio]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Navio](
	[IdNavio] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[CapacidadeMaxKg] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNavio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Embarque]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Embarque](
	[IdEmbarque] [int] IDENTITY(1,1) NOT NULL,
	[IdCarga] [int] NOT NULL,
	[IdNavio] [int] NOT NULL,
	[DataEmbarque] [date] NOT NULL,
	[DataPrevistaDesembarque] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmbarque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Cargas_Embarcadas]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Cargas_Embarcadas] AS
SELECT 
    c.IdCarga,
    c.PesoKg,
    c.TipoCarga,
    n.Nome AS Navio,
    e.DataEmbarque,
    e.DataPrevistaDesembarque
FROM 
    Carga c
    INNER JOIN Embarque e ON c.IdCarga = e.IdCarga
    INNER JOIN Navio n ON e.IdNavio = n.IdNavio;
GO
/****** Object:  Table [dbo].[Rota]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rota](
	[IdRota] [int] IDENTITY(1,1) NOT NULL,
	[IdNavio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParadaRota]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParadaRota](
	[IdParada] [int] IDENTITY(1,1) NOT NULL,
	[IdRota] [int] NOT NULL,
	[IdPorto] [int] NOT NULL,
	[Ordem] [int] NOT NULL,
	[DataPrevistaChegada] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Rotas_Paradas]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Rotas_Paradas] AS
SELECT 
    n.Nome AS Navio,
    r.IdRota,
    pr.Ordem,
    p.Nome AS PortoParada,
    pr.DataPrevistaChegada
FROM 
    Navio n
    INNER JOIN Rota r ON n.IdNavio = r.IdNavio
    INNER JOIN ParadaRota pr ON r.IdRota = pr.IdRota
    INNER JOIN Porto p ON pr.IdPorto = p.IdPorto;
GO
/****** Object:  View [dbo].[vw_Capacidade_Navio]    Script Date: 02/02/2026 22:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Capacidade_Navio] AS
SELECT 
    n.Nome AS Navio,
    n.CapacidadeMaxKg,
    ISNULL(SUM(c.PesoKg), 0) AS PesoOcupado,
    (n.CapacidadeMaxKg - ISNULL(SUM(c.PesoKg), 0)) AS CapacidadeDisponivel
FROM 
    Navio n
    LEFT JOIN Embarque e ON n.IdNavio = e.IdNavio
    LEFT JOIN Carga c ON e.IdCarga = c.IdCarga
GROUP BY 
    n.Nome, n.CapacidadeMaxKg;
GO
SET IDENTITY_INSERT [dbo].[AgenteReceptor] ON 

INSERT [dbo].[AgenteReceptor] ([IdAgente], [Nome], [IdPorto]) VALUES (1, N'Agente Santos', 1)
INSERT [dbo].[AgenteReceptor] ([IdAgente], [Nome], [IdPorto]) VALUES (2, N'Agente Rio', 2)
INSERT [dbo].[AgenteReceptor] ([IdAgente], [Nome], [IdPorto]) VALUES (3, N'Agente Paranaguá', 3)
SET IDENTITY_INSERT [dbo].[AgenteReceptor] OFF
GO
SET IDENTITY_INSERT [dbo].[Carga] ON 

INSERT [dbo].[Carga] ([IdCarga], [PesoKg], [DataMaxDesembarque], [TipoCarga], [DataValidade], [TemperaturaMax], [Status], [IdPortoDestino], [IdAgenteReceptor]) VALUES (1, CAST(10000.50 AS Decimal(10, 2)), CAST(N'2024-07-10' AS Date), N'perecivel', CAST(N'2024-07-09' AS Date), NULL, N'não embarcada', 1, 1)
INSERT [dbo].[Carga] ([IdCarga], [PesoKg], [DataMaxDesembarque], [TipoCarga], [DataValidade], [TemperaturaMax], [Status], [IdPortoDestino], [IdAgenteReceptor]) VALUES (2, CAST(8000.00 AS Decimal(10, 2)), CAST(N'2024-07-12' AS Date), N'sensivel', NULL, CAST(-5.00 AS Decimal(5, 2)), N'não embarcada', 2, 2)
INSERT [dbo].[Carga] ([IdCarga], [PesoKg], [DataMaxDesembarque], [TipoCarga], [DataValidade], [TemperaturaMax], [Status], [IdPortoDestino], [IdAgenteReceptor]) VALUES (3, CAST(12000.75 AS Decimal(10, 2)), CAST(N'2024-07-15' AS Date), N'outros', NULL, NULL, N'não embarcada', 3, 3)
SET IDENTITY_INSERT [dbo].[Carga] OFF
GO
SET IDENTITY_INSERT [dbo].[Embarque] ON 

INSERT [dbo].[Embarque] ([IdEmbarque], [IdCarga], [IdNavio], [DataEmbarque], [DataPrevistaDesembarque]) VALUES (1, 1, 1, CAST(N'2024-07-01' AS Date), CAST(N'2024-07-10' AS Date))
INSERT [dbo].[Embarque] ([IdEmbarque], [IdCarga], [IdNavio], [DataEmbarque], [DataPrevistaDesembarque]) VALUES (2, 2, 2, CAST(N'2024-07-02' AS Date), CAST(N'2024-07-12' AS Date))
INSERT [dbo].[Embarque] ([IdEmbarque], [IdCarga], [IdNavio], [DataEmbarque], [DataPrevistaDesembarque]) VALUES (3, 3, 3, CAST(N'2024-07-03' AS Date), CAST(N'2024-07-15' AS Date))
SET IDENTITY_INSERT [dbo].[Embarque] OFF
GO
SET IDENTITY_INSERT [dbo].[Navio] ON 

INSERT [dbo].[Navio] ([IdNavio], [Nome], [CapacidadeMaxKg]) VALUES (1, N'Navio Atlântico', CAST(500000.00 AS Decimal(12, 2)))
INSERT [dbo].[Navio] ([IdNavio], [Nome], [CapacidadeMaxKg]) VALUES (2, N'Navio Pacífico', CAST(450000.00 AS Decimal(12, 2)))
INSERT [dbo].[Navio] ([IdNavio], [Nome], [CapacidadeMaxKg]) VALUES (3, N'Navio Mercosul', CAST(400000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Navio] OFF
GO
SET IDENTITY_INSERT [dbo].[ParadaRota] ON 

INSERT [dbo].[ParadaRota] ([IdParada], [IdRota], [IdPorto], [Ordem], [DataPrevistaChegada]) VALUES (1, 1, 1, 1, CAST(N'2024-07-01' AS Date))
INSERT [dbo].[ParadaRota] ([IdParada], [IdRota], [IdPorto], [Ordem], [DataPrevistaChegada]) VALUES (2, 1, 2, 2, CAST(N'2024-07-03' AS Date))
INSERT [dbo].[ParadaRota] ([IdParada], [IdRota], [IdPorto], [Ordem], [DataPrevistaChegada]) VALUES (3, 2, 3, 1, CAST(N'2024-07-02' AS Date))
SET IDENTITY_INSERT [dbo].[ParadaRota] OFF
GO
SET IDENTITY_INSERT [dbo].[Porto] ON 

INSERT [dbo].[Porto] ([IdPorto], [Nome], [Localizacao]) VALUES (1, N'Porto de Santos', N'Santos - SP')
INSERT [dbo].[Porto] ([IdPorto], [Nome], [Localizacao]) VALUES (2, N'Porto do Rio de Janeiro', N'Rio de Janeiro - RJ')
INSERT [dbo].[Porto] ([IdPorto], [Nome], [Localizacao]) VALUES (3, N'Porto de Paranaguá', N'Paranaguá - PR')
SET IDENTITY_INSERT [dbo].[Porto] OFF
GO
SET IDENTITY_INSERT [dbo].[Rota] ON 

INSERT [dbo].[Rota] ([IdRota], [IdNavio]) VALUES (1, 1)
INSERT [dbo].[Rota] ([IdRota], [IdNavio]) VALUES (2, 2)
INSERT [dbo].[Rota] ([IdRota], [IdNavio]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Rota] OFF
GO
/****** Object:  Index [UQ__Embarque__6C98561605E4DDF0]    Script Date: 02/02/2026 22:00:23 ******/
ALTER TABLE [dbo].[Embarque] ADD UNIQUE NONCLUSTERED 
(
	[IdCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carga] ADD  DEFAULT ('não embarcada') FOR [Status]
GO
ALTER TABLE [dbo].[AgenteReceptor]  WITH CHECK ADD FOREIGN KEY([IdPorto])
REFERENCES [dbo].[Porto] ([IdPorto])
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD FOREIGN KEY([IdAgenteReceptor])
REFERENCES [dbo].[AgenteReceptor] ([IdAgente])
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD FOREIGN KEY([IdPortoDestino])
REFERENCES [dbo].[Porto] ([IdPorto])
GO
ALTER TABLE [dbo].[Embarque]  WITH CHECK ADD FOREIGN KEY([IdCarga])
REFERENCES [dbo].[Carga] ([IdCarga])
GO
ALTER TABLE [dbo].[Embarque]  WITH CHECK ADD FOREIGN KEY([IdNavio])
REFERENCES [dbo].[Navio] ([IdNavio])
GO
ALTER TABLE [dbo].[ParadaRota]  WITH CHECK ADD FOREIGN KEY([IdPorto])
REFERENCES [dbo].[Porto] ([IdPorto])
GO
ALTER TABLE [dbo].[ParadaRota]  WITH CHECK ADD FOREIGN KEY([IdRota])
REFERENCES [dbo].[Rota] ([IdRota])
GO
ALTER TABLE [dbo].[Rota]  WITH CHECK ADD FOREIGN KEY([IdNavio])
REFERENCES [dbo].[Navio] ([IdNavio])
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [CHK_StatusCarga] CHECK  (([Status]='não embarcada' OR [Status]='embarcada'))
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [CHK_StatusCarga]
GO
ALTER TABLE [dbo].[Carga]  WITH CHECK ADD  CONSTRAINT [CHK_TipoCarga] CHECK  (([TipoCarga]='outros' OR [TipoCarga]='sensivel' OR [TipoCarga]='perecivel'))
GO
ALTER TABLE [dbo].[Carga] CHECK CONSTRAINT [CHK_TipoCarga]
GO
USE [master]
GO
